.default-container {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
    max-width: 800px;
    width: 60%;
    border-radius: 10px;
    background-color: rgb(234, 234, 234);

}

.admin-message {
    padding: 20px;
    font-style: italic;
    text-align: center;
}

.default-header {
    padding: 20px;
    color: black;
    text-align: center;
}

.default-subheader {
    text-align: center;
}


#budget {
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
}

.form-group br {
    display: none;
}


.slider-range-wrapper {
    margin-top: 20px;
}

.slider-range-widget {
    width: 80%;
}

.field {
    margin-top: 30px;
}

.btn-wrapper {
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;

}

.result-wrapper {
    margin-top: 20px;
    padding-left: 40px;
}

#finalResult {
    font-weight: bold;
}

#addHumanResources {
    text-align: center;
    margin-top: 30px;
}

.add-human-resouces-main {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(48, 100, 48);
    border-radius: 3px;
    padding: 18px;
    margin-bottom: 20px;
}

#resouceElements {
    justify-content: center;
}

.add-human-resouces-main h6 {
    text-align: center;
}

/* all quotes page */
.all-quotes-wrapper {
    margin-top: 150px;
}

.single-quote-card {
    width: 30rem;
    margin-bottom: 20px;
}

.list-group-item {
    font-weight: 600;
}

.list-group-item span {
    font-weight: 200;
}

.icon-wrapper {
    width: 200px;
}

/* /index */

.log-reg-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.register-wrapper a {
    float: right;
}

.subheader {
    text-align: center;
    margin-bottom: 20px;
}


/* combine page */

.combine-dropdowns-wrapper {
    margin-top: 50px;
    text-align: center;
}

.combine-dropdown {
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#combineBtn {
    margin-top: 50px;
}


/* navbar active page */

#bs-example-navbar-collapse-1 .navbar-nav li.active>a {
    background-color: #333;
    color: red;
    font-weight: bold;
}