<!-- navbar -->
<nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand">
      <i class="fa-light fa-calculator"></i>
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="" class="nav-link active">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="/submit" class="nav-link active">
            Add a quote
          </a>
        </li>
        <li class="nav-item">
          <a href="/auth/logout" class="nav-link active">
            Logout
          </a>
        </li>

      </ul>
    </div>



  </div>
</nav>