<%- include('partials/header.ejs') %>

    <%- include('partials/nav.ejs') %>

        <div class="default-container form-group" id="calculatorWrapper">
            <h2 class="default-header">Quotes and budgets for everyone</h2>
            <form id="budget" class="main-budget-wrapper" action="/submit" method="post">


                <div class="field">
                    <label for="projectName">Project name</label>
                    <input name="projectName" id="projectNameText" class="form-control" type="text">
                    <p id="projectNameCheck"></p>

                </div>

                <div class="field">
                    <label for="projectName">Select a Position:</label>

                    <div class="form-check">
                        <input type="radio" id="r1" name="devType" value="Junior">
                        <label class="form-check-label" for="developerType1">
                            Junior
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="r2" name="devType" value="Standard">
                        <label class="form-check-label" for="developerType2">
                            Standard
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="r3" name="devType" value="Senior" checked="checked">
                        <label class="form-check-label" for="developerType3">
                            Senior
                        </label>
                    </div>
                </div>




                <div class="field">
                    <label for="timePeriod">For what time of period? </label>
                    <select id="selectedTimePeriod" class="form-select" aria-label="Default select example">
                        <option selected>Select a period of time</option>
                        <option id="daily" value="1">Daily</option>
                        <option id="weekly" value="2">Weekly</option>
                        <option id="monthly" value="3">Monthly</option>
                        <option id="annually" value="4">Annually</option>
                    </select>
                    <p id="timePeriodCheck"></p>
                    <p id="storePeriodCheck"></p>
                </div>



                <div class="monthly-scheme" id="monthlyScheme">
                    <div class="row">
                        <label>Please specify your working hours!</label>

                        <div class="col-md-4 col-sm-12">

                            <label name="week" for="monthlyWorkingHours">Week 1:</label>

                            <input min="0" type="number" class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Week 2:</label>
                            <input name="week" min="0" type="number" class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Week 3:</label> <input name="week" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Week 4:</label> <input name="week" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>

                    </div>
                </div>



                <div class="weekly-scheme" id="weeklyScheme">
                    <div class="row">
                        <label>Please specify your working hours!</label>

                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Mon:</label>
                            <input min="0" type="number" class="form-control" id="day1" name="day" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Tue:</label>
                            <input min="0" type="number" class="form-control" id="day2" name="day" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Wed:</label>
                            <input min="0" type="number" class="form-control" id="day3" name="day" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Thr:</label>
                            <input min="0" type="number" class="form-control" id="day4" name="day" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <label for="monthlyWorkingHours">Fri:</label>
                            <input min="0" type="number" class="form-control" id="day5" name="day" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <label for="monthlyWorkingHours">Sat:</label>
                            <input min="0" type="number" class="form-control" id="day6" name="day" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Sun:</label>
                            <input min="0" type="number" class="form-control" id="day7" name="day" /><br><br>
                        </div>

                    </div>
                </div>


                <div class="daily-scheme" id="dailySheme">

                    <div class="row">

                        <div class="col-12">
                            <label>Please specify your working hours!</label>

                            <label for="dailyWorkingHours"></label>
                            <input min="0" type="number" class="form-control" id="singleDayID"
                                name="singleDay" /><br><br>
                        </div>

                    </div>
                </div>


                <div class="annual-scheme" id="annualScheme">
                    <div class="row">
                        <label>Please specify your working hours!</label>

                        <div class="col-md-4 col-sm-12">

                            <label for="monthlyWorkingHours">Jan:</label>

                            <input name="month" type="number" class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Feb:</label> <input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Mar:</label> <input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Apr:</label> <input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <label for="monthlyWorkingHours">May:</label><input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <label for="monthlyWorkingHours">Jun:</label> <input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Jul:</label> <input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <label for="monthlyWorkingHours">Aug:</label><input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <label for="monthlyWorkingHours">Sept:</label> <input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="monthlyWorkingHours">Oct:</label> <input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <label for="monthlyWorkingHours">Nov:</label><input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <label for="monthlyWorkingHours">Dec:</label> <input name="month" min="0" type="number"
                                class="form-control" /><br><br>
                        </div>

                    </div>

                </div>

                <output id="workedHoursOutput">
                </output>

                <div class="btn-wrapper" id="submitBtn">
                    <button class="btn btn-primary" id="submitBtn" type="submit"
                        onclick="validatorFields();calculateFinalBudgetFigure()">Submit</button>
                </div>

            </form>
        </div>

        <div class="default-container result" id>
            <h2 class="default-header">Result: </h2>
            <div class="result-wrapper">
                <p id="finalResult"></p>
                <p>Your budget has been calculated based on the following formula:</p>
                <p>Your budget = Your pay per hour * you working hours for that period</p>
            </div>
            <label id="calculatedBudget"></p>
        </div>



        <%- include('partials/footer.ejs') %>