<%- include('partials/header.ejs') %>

    <%- include('partials/nav.ejs') %>

        <div class="form" action="/display" method="post">
            <h1>Welcome</h1>
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Project Name</li>
                </ul>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>