.default-container {
    margin: 0 auto;
    margin-top: 50px;

    max-width: 800px;
    width: 60%;
    border-radius: 10px;
    background-color: rgb(234, 234, 234);

}

.default-header {
    padding-left: 40px;
    color: black;
    text-align: left;
}

#budget {
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
}

.form-group br {
    display: none;
}

#hourlyPayCheck {
    color: red;
    font-size: 10px;
}

#timePeriodCheck {
    color: red;
    font-size: 10px;
}

#projectNameCheck {
    color: red;
    font-size: 10px;
}

.slider-range-wrapper {
    margin-top: 20px;
}

.slider-range-widget {
    width: 80%;
}

.field {
    margin-top: 30px;
}

.btn-wrapper {
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;

}

.result-wrapper {
    margin-top: 20px;
    padding-left: 40px;
}

#finalResult {
    font-weight: bold;
}